.ct-image {
  width: 4rem;
  height: 4rem;
}

.ct-text {
  padding: 1rem 0.5rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.ct-link {
  display: inline-block;
  position: relative;
  top: 15rem;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #607d8b;
  transition: 0.3s;
}

.ct-link:hover {
  color: #673ab7;
}
