<div class="p-fluid p-grid p-sm-10 p-sm-offset-1 p-md-8 p-md-offset-2">
  <p class="ct-text--error p-col-12 p-text-bold" style="font-size: 2rem">
    Sorry, we couldn't find any results for "{{ searchTerm }}"
  </p>
  <p class="ct-text--error p-col-12 p-text-bold" style="font-size: 1.5rem">
    Try adjusting your search.Here are some ideas:
  </p>
  <ul class="p-col-12" style="font-size: 1.2rem; margin-left: 1.5rem">
    <li>Make sure all words are spelled correctly</li>
    <li>Try different search terms</li>
  </ul>
</div>
