<div class="ct-sidebar">
  <ul class="ct-sidebar--list">
    <li
      class="p-d-flex p-ai-center"
      routerLink="country"
      routerLinkActive="active"
    >
      <i class="pi pi-flag p-mr-3"></i>By Country<i
        class="pi pi-chevron-right p-ml-auto"
      ></i>
    </li>
    <li
      class="p-d-flex p-ai-center"
      routerLink="countries"
      routerLinkActive="active"
    >
      <i class="pi pi-chart-line p-mr-3"></i>Compare Countries<i
        class="pi pi-chevron-right p-ml-auto"
      ></i>
    </li>
  </ul>
</div>
